DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
SUPABASE_STORAGE_ENDPOINT=
SUPABASE_STORE_ACCESS_KEY=
SUPABASE_STORE_SECRET_ACCESS_KEY=
SUPABASE_STORAGE_REGION=us-east-2
